body {   
     margin: 0px;
     padding: 0px;
     font-family: 'Open Sans', sans-serif;
     text-align: center;
}

.navbar {
    padding: 0px;
    background-color: #fff;
}

.navbar-brand {
    font-size: 2em;
    font-family: 'Abril Fatface', cursive, sans-serif;
    margin: 0px 0px 0px 15px;
}

.navbar-light .navbar-brand {
    color: #196076;
    
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #be962a;
    border-bottom: 1px solid;
}

.nav-link {
    font-family:  'Open Sans', sans-serif;
    font-size: 1.4em;
    padding: 0px 15px 0px 0px;
    margin-right: 15px;
}


.navbar-light .navbar-nav .nav-link {
    color: #196076;
    float: right;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #be962a;
    border-bottom: 1px solid;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #be962a;
    border-bottom: 1px solid;
}

.navbar-light .navbar-toggler-icon {
    background-image:  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(190,	150,	58, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    margin-right: 15px;
}

.navbar-light .navbar-toggler {
    border: none;
    background-color: transparent;
    padding: 0px;
}

.navbar-light .navbar-toggler:focus {
    outline: none;
    border: none;
   
}


#hero-image-section {
    height: 85vh;
    width: 100%;
    background-image: url(../images/blue-background-paint-cans.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;
}

.hero-image-cta  h1 {
 font-family: 'Abril Fatface', cursive, sans-serif;
 color: #fff;
 font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.hero-image-cta p {
    font-size: 0.9em;
    color: #fff;
}

.hero-image-cta button {
    background-color: #fff;
    color: #196076;
}

.hero-image-cta p span {
    color: #be962a;
}

.content-divider {
    width: 80px;
    height: 4px;
    border: 0;
    background-color: #be962a;
}

.modal-body legend {
    font-size: inherit;
    text-align: left;
}

.modal-header {
    background-color: #196076;
}

.modal-body {
    text-align: left;
}

.modal-header h5 {
    background-color:transparent;
    text-align: center;
    color: #fff;
}

.modal-header button {
    color: white;
}

.modal-header button:hover {
    color: #be962a;
}

.form-group label {
    color: #196076;
}

::placeholder {
    color: #be962a;
}

.container-fluid {
    margin: 0px;
}

form legend {
    color: #196076;
}

.modal-header button:hover {
    color: #fff;
    background-color: #196076;
}


.content-heading {
    color: #196076;
    font-family: 'Abril Fatface', cursive, sans-serif;
    margin: 40px 0px 35px 0px;
}

.content-sub-heading {
    color: #196076;
    font-family: 'Abril Fatface', cursive, sans-serif;
    margin: 0px 0px 20px 0px;
}


.content-heading i {
    color: #be962a;
}

.p-text-centered {
    width: 50%;
    color: #196076;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    margin-bottom: 30px;
}

.p-text-centered i {
    size: 1.2em;
    color: #be962a;
}

#customer-quotes {
    background-color: #196076;
}

#quotes-heading {
    color: #fff;
    margin: 60px 0px;
    font-family: 'Abril Fatface', cursive, sans-serif;
}

#quotes-heading i {
    color: #be962a;
}

.photo-frame  img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 4px solid #be962a;
    margin-bottom: 10px;
}

.photo-frame p {
    color: #fff;
}

#customer-quotes p {
    color:#fff;
    margin-bottom: 35px;
}

#customer-quotes p i {
    color: #be962a;
    size: 1.2em;
}

footer {
    font-size: 0.9em;
}

.social-links {
    color: #be962a;
    font-size: 200%;
    margin-left: 10px;
}

.social-links:hover {
    color: #196076;
    font-size: 250%;
    margin-left: 10px;
}

.content-sub-heading i {
    color: #be962a;
    font-size: 120%;
}

form i {
    color: #be962a;
    font-size: 120%;
}

#who-we-are {
    margin-top: 30px;
}

#about-us img {
    width: 80%;
    height: 250px;
    margin: 50px 0px 30px 0px;

}

.blue-background {
    color: #fff;
    background-color: #196076;
}

#what-we-do {
    margin-top: 50px;
}








@media (min-width:450px) {
    .hero-image-cta { font-size: 150%; }
}


@media (max-width: 400px) {
    .navbar-brand { font-size: 1.6em; }
}

@media (max-width: 400px) {
    #kerry-painters-logo {
    padding-top: 20px;
    height: 50vh;
    width: 60vw;
}   
}

@media (max-width: 700px) {
.p-text-centered {
    width: 86%;
    color: #196076;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 25px;
}
}

@media (max-width: 400px) {
footer {
    font-size: 0.7em;
}
}
