/*basic body styling and header and text styling*/
body {   
     margin: 0px;
     padding: 0px;
     font-family: 'Open Sans', sans-serif;
     text-align: center;
}

.container-fluid {
    margin: 0px;
}

.content-heading {
    color: #196076;
    font-family: 'Abril Fatface', cursive, sans-serif;
    margin: 40px 0px 35px 0px;
}

.content-sub-heading {
    color: #196076;
    font-family: 'Abril Fatface', cursive, sans-serif;
    margin: 0px 0px 20px 0px;
}


.content-heading i {
    color: #be962a;
}

.p-text-centered {
    width: 50%;
    color: #196076;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    margin-bottom: 30px;
}

.p-text-centered i {
    color: #be962a;
}
.blue-background {
    color: #fff;
    background-color: #196076;
}

/*header and navigation stylings*/
.navbar {
    padding: 0px;
    background-color: #fff;
}

.navbar-brand {
    font-size: 2em;
    font-family: 'Abril Fatface', cursive, sans-serif;
    margin: 0px 0px 0px 15px;
}

.navbar-light .navbar-brand {
    color: #196076;
    
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #be962a;
    border-bottom: 1px solid;
}

.nav-link {
    font-family:  'Open Sans', sans-serif;
    font-size: 1.4em;
    padding: 0px 15px 0px 0px;
    margin-right: 15px;
}


.navbar-light .navbar-nav .nav-link {
    color: #196076;
    float: right;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #be962a;
    border-bottom: 1px solid;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #be962a;
    border-bottom: 1px solid;
}

.navbar-light .navbar-toggler-icon {
    background-image:  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(190,	150,	58, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    margin-right: 15px;
}

.navbar-light .navbar-toggler {
    border: none;
    background-color: transparent;
    padding: 0px;
}

.navbar-light .navbar-toggler:focus {
    outline: none;
    border: none;
   
}

.underscore {
    border-bottom: 2px solid #be962a;
}

/*hero image section*/

#hero-image-section {
    height: 85vh;
    width: 100%;
    background-image: url(../images/blue-background-paint-cans.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;
}

.hero-image-cta  h1 {
 font-family: 'Abril Fatface', cursive, sans-serif;
 color: #fff;
 font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.hero-image-cta p {
    font-size: 0.9em;
    color: #fff;
}

.hero-image-cta button {
    background-color: #fff;
    color: #196076;
}

.hero-image-cta p span {
    color: #be962a;
}

.content-divider {
    width: 80px;
    height: 4px;
    border: 0;
    background-color: #be962a;
}

/*pop up modal section*/

.modal-body legend {
    font-size: inherit;
    text-align: left;
}

.modal-header {
    background-color: #196076;
}

.modal-body {
    text-align: left;
}

.modal-header h5 {
    background-color:transparent;
    text-align: center;
    color: #fff;
}

.modal-header button {
    color: white;
}

.modal-header button:hover {
    color: #be962a;
}

.form-group label {
    color: #196076;
}

::placeholder {
    color: #be962a;
}

form legend {
    color: #196076;
}

.modal-header button:hover {
    color: #fff;
    background-color: #196076;
}

form i {
    color: #be962a;
    font-size: 120%;
}

/* our specialities section*/

#our-specialities h2 {
    margin-bottom: 30px;
}

#our-specialities i {
    color: #be962a;
    font-size: 150%;
    margin-bottom: 30px;
}

#our-specialities li {
    font-family: 'Open Sans', sans-serif;
    color: #196076;
    font-size: 1em;
}

li::marker {
    color: #be962a;
}



/*customer quotes section*/

#customer-quotes {
    background-color: #196076;
}

#quotes-heading {
    color: #fff;
    margin: 60px 0px;
    font-family: 'Abril Fatface', cursive, sans-serif;
}

#quotes-heading i {
    color: #be962a;
    font-size: 120%;
}

.photo-frame  img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 4px solid #be962a;
    margin-bottom: 10px;
}

.photo-frame p {
    color: #fff;
}

#customer-quotes p {
    color:#fff;
    margin-bottom: 35px;
}

#customer-quotes p i {
    color: #be962a;
}

/*footer stylings*/

#footer-headings {
    margin-top: 30px;
}

footer {
    font-size: 0.9em;
}

.social-links {
    color: #be962a;
    font-size: 200%;
    margin-left: 10px;
}

.social-links:hover {
    color: #196076;
    font-size: 250%;
    margin-left: 10px;
}

.content-sub-heading i {
    color: #be962a;
    font-size: 120%;
}

.enquire-button {
    margin: 0 auto;
    padding: 7px 7px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #be962a;
    border: 4px solid #be962a;
    border-radius: 25%;
    font-size: 1em;
    font-weight: 600;
}

.enquire-button:hover {
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    color:#196076;
    border: 4px solid #196076;
    border-radius: 25%;
}

/*about-us stylings*/

#who-we-are {
    background-image: url(../images/white-grey-wall-yellow-paint.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#who-we-are .col-md-6 {
    margin: auto;
}

#who-we-are .col-12 {
    margin-top: 25px;
}

.van-image {
    width: 80%;
    margin: 50px 0px 30px 0px;
    overflow: hidden;
}

.van-image img {
    width: 100%
}

#what-we-do {
    margin-top: 50px;
}

/*gallery stylings*/

.gold-divider hr {
    border: 3px solid #be962a    
}

.gallery-background {
    background-image: url(../images/white-grey-wall-yellow-paint.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.interior-images {
    height: 400px;
    margin-top: 25px;
    margin-bottom: 10px;
    overflow: hidden;
}

.interior-images img {
    height: 100%;
    overflow: hidden;
    border: 4px solid #be962a;
}

.before-after-images {
    height: 400px;
    margin-top: 25px;
    margin-bottom: 10px;
    overflow: hidden;
}

.before-after-images img{
    height: 100%;
    overflow: hidden;
    border: 4px solid #be962a;
}

 .margin-for-heading {
     margin-top: 25px;
     margin-bottom: 15px;
 }

.exterior-images {
    height: 400px;
    margin-top: 25px;
    margin-bottom: 10px;
    overflow: hidden;
}

.exterior-images img {
   height: 100%;
    overflow: hidden;
    border: 4px solid #be962a;
}

.gallery-background h1 {
    margin: 70px 0px 70px 0px;
}

.commercial-images {
    height: 400px;
    margin-top: 25px;
    margin-bottom: 10px;
    overflow: hidden;
}

.commercial-images img {
    height: 100%;
    overflow: hidden;
    border: 4px solid #be962a;
}

.bottom-divider {
      margin: 70px 0px 70px 0px;
}

/*contact us page styling*/

#contact-us-section {
    background-image: url(../images/white-and-grey-wall-with-roller.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   

#contact-us-section label {
   width: 30%;
}

#contact-us-section input {
    width: 65%;
    display: inline;
}

#contact-us-section form {
    align-items: center;
}

#contact-us-section textarea {
    width: 65%;
    display: inline;
}

#contact-phone-email {
    background-image: url(../images/inverted1-white-and-grey-wall-with-roller.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/*media queries to help in the sites responsiveness*/

@media (min-width:450px) {
    .hero-image-cta { font-size: 150%; }
}

@media (max-width:400px) { 
    #who-we-are {
    margin-top: 35px;
}
}


@media (max-width: 400px) {
    .navbar-brand { font-size: 1.6em; }
}

@media (max-width: 400px) {
    #kerry-painters-logo {
    padding-top: 20px;
    height: 50vh;
    width: 60vw;
}   
}

@media (max-width: 700px) {
.p-text-centered {
    width: 86%;
    color: #196076;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 25px;
}
}

@media (max-width: 400px) {
footer {
    font-size: 0.7em;
}
}
